body {
  background-color: antiquewhite;
  color: rgb(110, 46, 9);
  font-size: 25;
  font-family: "ABeeZee", sans-serif;
}
.main-header {
  text-align: center;
  margin-top: 75px;
  background-color: darkgrey;
  padding: 50px;
  border: 3px solid darkgrey;
}

.post1 {
  background-color: darkgrey;
  background-image: url(img/Chickfila\ logo.JPG);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 100px;
  text-align: center;
  margin-top: 50px;
}

.post2 {
  margin-block-start: 100px;
  text-align: center;
}
.background1 {
  text-align: center;
}

.background2 {
  background-color: darkgrey;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 100px;
  text-align: center;
  margin-top: 50px;
  background-image: url(img/popeyes.png);
}

.preview-text2 {
  text-align: center;
}
